$text: #2c3e50;
$text2: #173b24;

$red1 :#ba2f2d;
$red2: #9f161d;
$red3: #88060d;
$white1: #fcf9de;
$white2: #e5e1bd;
$white3: #c7c297;
$mint: #67e4aa;
$mint2: #1b593c;

$duel : #bd95fe;
$action : #e8b2fa;
$start : #ffcf87;
$buton: #1c6895;

$ames :#ebacab;
$amen :#937661;
$azja :#f8fdb5;
$euro :#7179be;
$afr :#81dba8;
$aus :#89d2f6;

$player1: #abbdff;
$player2: #f696c6;
$player3: #9cffa1;
$player4: #eff980;

$player1dark: #7187d6;
$player2dark: #ca5b92;
$player3dark: #59cb5f;
$player4dark: #bcc748;

$lightred :#ebacab;
$gray-dark: #333; 
$gray-light: #ccc; 
$thumb-color: #fff;
$thumb-size: 20px; 
$dark-gray: #333;
