$red1 :#ba2f2d;
$red2: #9f161d;
$white1: #fcf9de;
$mint: #67e4aa;

$lightred :#ebacab;
$gray-dark: #333; 
$gray-light: #ccc; 
$thumb-color: #fff;
$thumb-size: 20px; 
$dark-gray: #333; 
$red3: #88060d;