.board-center-placeholder {
    position: relative;
    width: 100%;
    height: 100%;
}
.player-info {
    position: absolute;
    width: clamp(50px, 27.3vw, 250px);
    height: clamp(50px, 27.3vw, 250px);
    height: auto;
    padding: 0.5vw;

    font-size: clamp(7px, 1.4vw, 15px);
    // font-size: 10px;
    line-height: 1.2;
    word-wrap: break-word;
    // border: 1px solid #ff0000;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(50% - 6vw);
    max-width: calc(50% - 6vw);
    // transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.player1 {
    top: 0;
    left: 0;
    border-bottom-right-radius: 0.5vw;
    background-color: rgba(185, 171, 255, 0.95);
}
.player2 {
    top: 0;
    right: 0;
    border-bottom-left-radius: 0.5vw;
    background-color: rgba(231, 150, 246, 0.95);
}
.player3 {
    bottom: 0;
    left: 0;
    border-top-right-radius: 0.5vw;
    background-color: rgba(156, 255, 161, 0.95);
}
.player4 {
    bottom: 0;
    right: 0;
    border-top-left-radius: 0.5vw;
    background-color: rgba(249, 128, 128, 0.95);
}
// .player-info.slide-right {
//     transform: translateX(50%); /* Przesuń w prawo o połowę swojej szerokości */
//     background-color: rgba(255, 255, 255, 0.8); /* Jaśniejszy kolor */
// }
// .player-info.slide-left {
//     transform: translateX(-50%); /* Przesuń w lewo o połowę swojej szerokości */
//     background-color: rgba(255, 255, 255, 0.8); /* Jaśniejszy kolor */
// }
// .player-more {
//     position: absolute;
//     background-color: white;
//     width: 100%;
//     height: 50%;
// }
// .more1 {
//     top: 0;
//     left: 0;
// }
// .more2 {
//     top: 0;
//     left: 0;
// }
// .more3 {
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     height: 50%;
//     width: auto;
// }
// .more4 {
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     height: 50%;
//     width: auto;
// }
.card {
    background-color: #fff;
    // width: 15vw;
    width: clamp(50px, 27.3vw, 250px);
    height: 10vw;
    max-width: 200px;
    max-height: 100px;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    border: darkolivegreen dashed 2px;
}
span {
    display: block;
    width: clamp(5px, 27.3vw, 20px);
    height: 4px;
    background-color: black;
}
.handle-all {
    position: absolute;
    right: -100%;
    width: clamp(5px, 27.3vw, 20px);
    height: clamp(5px, 27.3vw, 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    // box-sizing: border-box;
    // overflow: hidden;
    // overflow-y: auto;
    // max-height: calc(50% - 6vw);
    // max-width: calc(50% - 6vw);
}
.handle-all:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.card-left {
    left: 0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    border-left: none;
}
.card-right {
    right: 0;
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-right: none;
}