@use "./_color" as c;
body{
    background: linear-gradient(40deg,rgb(17, 54, 139) 0%, rgb(100, 132, 213) 50%, rgba(255, 255, 255, 1) 100%);
    overflow: hidden;
}
.backg {
    position: relative;
    top: 20px;
    display: block;
    // right: 50%;
    transform: translateX(-40%); 
}
p{
    color: c.$white1;
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0; 
}
.logo{
    background-color: c.$red1;
    width: 85%;
    max-width: 650px;
    height: 650px;
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 40%;
}
.logo_main{
    width: 300px;
    display: block;
    align-items: center;
    margin-top: 0; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.next{
    align-items: center;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: c.$red2;
    border: none;
    border-radius: 40%;
    color: c.$white1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 30px; /* Dodajemy odstęp od obrazka */
}